{% extends 'base.html' %}

{% block content %}
    <h1>Welcome our guest book!</h1>
    {% for register in registers %}
        <div class="card">
            <div class="card-header text-left">
                <div class="card-name">{{ register.author }} (Email: {{ register.email }} )</div>
                <a href="{% url 'delete_register' register.pk %}"><i class="fas fa-trash-alt"></i></a>
                <a href="{% url 'edit_register' register.pk %}"><i class="fas fa-edit"></i></a>
            </div>
            <div class="card-body">
                <p class="card-text">{{ register.text }}.</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
